*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    /* border: 2px solid black; */
    height: 4.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    /* margin-bottom: none; */
}

.head_container{
    /* border: 1px solid blue; */
    width:75%;
    height: 100%;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.studysync_container{
    display: flex;
    gap: 0.5rem; 
}

a{
    text-decoration: none;
}

#image{
    height: 2rem;
    margin-top: 0.3rem;
}

#st_head{
    color:black;
}

.middle_box{
    display: none;
    gap: 1.3rem;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:768px) {
    .middle_box{
        display:flex;
    }
}

.paras{
    color: rgb(3, 2, 2);
    font-size: 1.2rem;
}

.contactus_box{
    width: 120px;
    padding: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(97, 97, 244);
    border-radius: 9px;
}


@media screen and (min-width:768px) {
    .contactus_box{
        display:flex;
    }
}


#contact{
    color: white;
    font-weight: 500;
    font-size: 1rem;
}

.contactus_box:hover{
    background-color: #5254f8;
}

.menu_button{
    display: none;
    border: none;
    border-radius: 9px;
    background-color: white;

}

@media screen and (max-width:768px) {

    .menu_button{
        display: flex;
       
        padding: 0.6rem;
    }
}

#menuicon{
    height: 1.5rem;
    width: 1.5rem;
}

.content{
    /* border: 2px solid black; */
    margin-left: 2rem;
    margin-right: 2rem;
    height: 40rem;
    padding: 2rem;

}

.content_box{
    /* border: 1px solid blue; */
    width:85%;
    height: 100%;
    margin: auto;
    margin-top: 0.6rem;
    /* margin-bottom: 2rem; */
    padding: 1.1rem;
    display: flex;
    flex-direction: row;
    gap: 7.2rem;
    
}

.contentleft{
    /* border: 1px solid brown; */
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 80%;
    position: relative;
    top: 45px;
    left: 30px;
    animation: slidebar 1s ease forwards;
    opacity: 0;
   
    
}

@keyframes slidebar{
    0%{
        opacity: 0;
        transform: translateX(-100%);

    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.leftupper_part{
    width: 500px;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#p1{
    color: #0b0eb6;
    font-weight: 600;
    font-size: 1.2rem;
}

#heading1{
    font-weight: 1200;
    font-size: 3.4rem;
  
}

.leftlower_part{
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.4rem;
    /* border: 1px solid aqua; */

}

.buttons_box{
     /* border: 1px solid aqua; */
    /*display: flex;
    gap: 1rem;
    padding: 1rem; */
    width: 500px;
    height: 80px;
    /* padding: 20px; */
    display: flex;
    gap: 1.6rem;
   /* justify-content: start */
    /* align-items: center; */ 
    border-radius: 9px;
    
}

#p2{
    word-spacing: 5px;
    font-size: 1.05rem;
    color: rgb(103, 103, 103);
}

#p3{
   
    color: white;
    font-weight: 600;
    font-size: 1rem;
    
}

#p4{
    
    color: white;
    font-weight: 600;
    font-size: 1rem;
    
}

.start_button{
     background-color: rgb(51, 51, 174);
     width: 120px;
     height: 2.7rem;
     margin-top: 10px;
     margin-bottom: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 9px;
}

.start_button:hover{
    background-color: #5254f8;
}

.taketour_button:hover{
    background-color: rgb(39, 30, 30);
}

.taketour_button{
    background-color: rgb(57, 57, 57);
    width: 120px;
    height: 2.7rem;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}

.contentright{
    /* border: 1px solid rgb(165, 42, 130); */
    height: 100%;
    width: 450px;
    

}

#img1{
    height: 96%;
    width: 100%;
    border-radius: 25px;

}

.mycontainer{
    /* border: 1px solid brown; */
}

#trusted_head{
    text-align: center;
    font-size: 2.6rem;
    font-weight: 1200;
    margin-top: 1.5rem;
}

.logos_container{
    /* border: 1px solid blue; */
    width: 42%;
    margin: auto;
    height: 4rem;
    margin-top: 1.6rem;
    background-color: rgba(208, 208, 208, 0.703);
    display: flex;
    justify-content: space-evenly;
    border-radius: 7px;
}

.googlecontainer{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}


#googleimg{
    margin-top: 0.2rem;
    width: 1.3rem;
}

#googlepara{
    color: grey;
    margin-left: 0.2rem;
    font-size: 1rem;
}

.microsoftcontainer{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;

}

#msimage{
    margin-top: 0.2rem;
    width: 1.3rem;

}

#mspara{
    color: grey;
    margin-left: 0.2rem;
    font-size: 1rem;
}

.linkedincontainer{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;

}

#linkedinimg{
    margin-top: 0.2rem;
    width: 1.3rem;

}

#linkedinpara{
    color: grey;
    margin-left: 0.2rem;
    font-size: 1rem;
}

.vectorcontainer{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

#vectorimg{
    margin-top: 0.2rem;
    width: 1.3rem;
}

#vectorpara{
    color: grey;
    margin-left: 0.2rem;
    font-size: 1rem;
}

.cardcontainer{
    /* border: 2px  solid black; */
    background-color: rgba(226, 226, 226, 0.703);
    height: 1100px;
    margin-top: 2rem;
    

}

.maincontainer{
    /* border: 1px solid blueviolet; */
    width: 55%;
    height: 100%;
    margin: auto;
}

.headingbox{
    /* border: 10px solid yellow; */
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    justify-content: space-evenly;

}

#card_heading{
   text-align: center;
   font-weight: 600;
}

#card_para{
    text-align: center;
}

.gridcontainer{
    /* border: 10px solid green; */
    width: 100%;
    height: 75%;
    margin-top: 1.2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}

#p_learning{
    /* border: 1px solid navy; */
    background-color: rgb(113, 113, 215);
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    height: 18rem;
}

#p_image{
    width: 40%;
  
}

.image_box{
    display: flex;
    justify-content: center;
    border: white;
    border-radius: 18px;
    background-color: white;
    width: 15%;
    height: 40px;
    margin-left: 10rem;
    margin-top: 1.5rem;
    position: relative;
    top: 20px;
}


.head_box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

#phead{
    text-align: center;
    color: rgb(255, 255, 255);
}

#head_para{
    text-align: center;
    width: 90%;
    margin-left: 1rem;
    color:rgba(207, 202, 202, 0.91);
}


#affordability{
   
    /* border: 1px solid navy; */
    background-color: rgb(228, 105, 126);
    height: 18rem;
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;

}

#industry_partnership{
    
    /* border: 1px solid navy; */
    background-color: rgb(216, 125, 85);
    height: 18rem;
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;

}

#innovative_technoligy{
    
    /* border: 1px solid navy; */
    background-color: rgb(17, 179, 146);
    height: 18rem;
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
}

#responsive_support{
    
    /* border: 1px solid navy; */
  background-color: rgb(55, 152, 55);
    height: 18rem;
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
}

#analytics{
    /* border: 1px solid navy; */
    background-color: #5254f8;
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    height: 18rem;
}

.testimonialsection{
    /* border: 4px solid black; */
    /* height: 350px; */
}

.testimonialbox{
    /* border: 2px solid brown; */
    width: 100%;
    margin: auto;
    padding: 1.7rem;

}

.testimonial_head{
    /* border: 1px solid blue; */
    width: 40%;
    margin: auto;
    
}

#t_head{
    text-align: center;
    font-weight: 1200;
}

.review_container{
    /* border: 1px solid green; */
    margin-top: 0.5rem;
    /* height: 300px; */
    display: flex;
    gap: 2rem;
    padding: 1rem;
    
}

.box1{
    border: 1px solid rgb(132, 126, 126);
    border-radius: 8px;
    box-shadow: 0px 0px 4px;
    
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    transition: all o.1s ease;
}

.box1:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px black;
}

.box1_para{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    left:12px;
}

#saraimg{
    width: 18%;
}

#name_title{
    color: #3a3de2;
}

#qualification_para{
    word-spacing: 1px;
    
}

.parent{
    display: flex;
    justify-content: center;
}

.newsletter_container{
    /* border: 5px solid black; */
   height: 28rem;
   padding: 2rem;
}
  
.newsletter_box{
    /* border: 2px solid green; */
    width: 85%;
    margin: auto;
    height: 100%;
    display: flex;
    gap: 0px;
    border-radius: 10px;
}

.left_box{
    /* border: 1px solid black; */
    width: 45%;
    border-radius: 10px;
}

.right_box{
    /* border: 1px solid yellow; */
    background-color: rgb(215, 215, 215);
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-radius: 10px;
}

#left_img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.title_container{
    /* border: 1px solid brown; */
    display: flex;
    flex-direction: column;
    padding-left: 1.8rem;
}

#update_title{
    color: #3a3de2;
    font-size: 2.6rem;
    font-weight: bold;
   
}

#update_para{
    color: rgb(113, 113, 113);
    font-size: 1.4rem;
}

.form_container{
    padding-left: 1.8rem;
    /* border: 1px solid green; */
    height: 2.3rem;
    
}

#email{
    border: none;
    border-radius:3.8px;
    height: 100%;
    margin-left: 1rem;
}
         
#sendbutton{
    height: 100%;
    width: 3.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 3.8px;
    background-color: #5254f8;
    color: white;
    margin-left: 0.6rem;
    font-weight: 600

}

.termofservice_container{
    /* border: 1px solid aqua; */
    padding-left: 2.3rem;
}

#termpara{
    color: rgb(113, 113, 113);
}

#a1{
    color: rgba(27, 27, 235, 0.744);
    text-decoration: underline;
}

#a2{
    color: rgba(27, 27, 235, 0.744);
    text-decoration: underline;

}

.last_container{
    /* border: 5px solid black; */
    height: 30rem;
}

.footer_container{
    /* border: 3px solid yellow; */
    width: 95%;
    margin: auto;
    height: 90%;
    padding: 1rem;
    display: flex;
    gap: 2rem;
}

.left_container{
    /* border: 1px solid green; */
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2rem;

}

.sync_container{
    /* border: 1px solid brown; */
    width: 50%;
    height: 2.5rem;
    display: flex;
    gap: 0.5rem;
}

#synimg{
    width: 13%;
    padding-left: 0.2rem;
    
}

#synhead{
    font-weight: 800;
    margin-top: 0.3rem;
}

.p_container{
    /* border: 1px solid blue; */
    height: 2.5rem;
}

#leftbox_para{
    font-size: 1.2rem;
    color: rgb(113, 113, 113);
}

.footer_logo{
    /* border: 1px solid aqua; */
    display: flex;
    width: 50%;
    height: 2.5rem;
    gap: 1.1rem;
}

.right_container{
    /* border: 3px solid pink; */
    width: 69%;
    height: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2.4rem;
}

.items1{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
   
}

.content_box1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
} 

.heading_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p8{
    color: rgb(113, 113, 113);
    font-size: 1.1rem;
}

#longpara{
    word-spacing: 2rem;
    margin-left: 3rem;
}

.copyright_container{
    /* border: 3px solid purple; */
    width: 95%;
    margin: auto;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyrightpara{
    font-weight: 600;
    word-spacing: 0.1rem;

}
